[submodule "Dependencies/Gems/O3deGemPlayground"]
	path = Deps/O3deGemPlayground
	url = https://github.com/ChristianHinkle/O3deGemPlayground
[submodule "Dependencies/Gems/O3deUtils_Misc"]
	path = Deps/O3deUtils_Misc
	url = https://github.com/ChristianHinkle/O3deUtils_Misc.git
[submodule "Dependencies/Gems/O3deUtils_Core"]
	path = Deps/O3deUtils_Core
	url = https://github.com/ChristianHinkle/O3deUtils_Core.git
[submodule "Dependencies/Gems/CppUtilsO3deGem"]
	path = Deps/CppUtilsO3deGem
	url = https://github.com/ChristianHinkle/CppUtilsO3deGem.git
[submodule "Deps/o3dimport"]
	path = Deps/o3dimport
	url = https://github.com/galibzon/o3dimport.git
